// app global css in SCSS form

@import "from-tailwind.scss";

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.q-field__messages {
    white-space: pre; // make \n act as newline
    line-height: 1.6;
}